################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/homerApi/.vscode
/homerApi/appsettings.Development.json
/homerApi/appsettings.json
/homerApi.tests/bin/Debug/netcoreapp1.1
/homerApi.tests/obj
